{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h4>Mon BG de site des recettes incroyables mais vraies</h4>
    <img src = "https://www.luxe-infinity-afrique.com/wp-content/uploads/2025/08/La-Cuisine-Africaine-Conquiert-la-France.webp" width = "650px" alt = "imagecuisine">
{% endblock %}
